.vue-animations.delay-1 {
    transition-delay: 0.3s !important;
}

.vue-animations.delay-2 {
    transition-delay: 0.6s !important;
}

.vue-animations.delay-3 {
    transition-delay: 0.9s !important;
}

.vue-animations.delay-4 {
    transition-delay: 1.2s !important;
}

.vue-animations.delay-5 {
    transition-delay: 1.5s !important;
}
